.section {
    display: flex;
    padding: 0 7rem 2rem;
    gap: 2rem;
    align-items: center;
}

.section .titulo {
    color: #A6BBCC;
    font-size: 3.75rem;
}

.section hr {
    border: 0;
    border-radius: 1rem;
    clear:both;
    display:block;
    flex: 1;              
    background-color:#A6BBCC;
    height: 4px;
}