.home {
    display: flex;
    padding: 7rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}

.saudacoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    font-size: 2rem;
    
    .contato {
        text-decoration: underline;
        text-decoration-color: #A6BBCC;
        text-underline-offset: 0.5rem;
        cursor: pointer;
    }
    .contato:hover {
        color: #A6BBCC;
        transition: 0.3s;
    }
}

.saudacoes h1 {
    font-size: 4.5rem;
    color: #A6BBCC;
    line-height: 6rem;
}

.imagemHome {
    border-radius: 50px;
    width: auto;
    height: 43rem;
}