.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navNome {
    font-family: 'Inter', 'Poppins';
    font-size: 32px;
    font-weight: 300;
    span {
        font-weight: 600;
    }
}

.optNav {
    display: flex;
    gap: 1.5em;
    font-family: 'Poppins';
    align-items: center;
    list-style: none;
    li {
        font-size: 25px;
        cursor: pointer;
    }
    li:hover {
        color: #a1a1a1;
        transition: 0.3s;
    }
}

.iconGithub {
    font-size: 3.5rem;
    cursor: pointer;
}

