.formContainer {
  width: 500px;
  background: linear-gradient(#221F1F, #221F1F) padding-box,
    linear-gradient(145deg, transparent 35%, #A6BBCC, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 2rem 2rem;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  align-self: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.formContainer button:active {
  scale: 0.95;
}

.formContainer .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer .formGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.formContainer .formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: 'Inter';
}

.formContainer .formGroup input {
  width: auto;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Inter';
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #414141;
}

.formContainer .formGroup textarea {
  width: auto;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: 'Inter';
  font-weight: 500;
}

.formContainer .formGroup input::placeholder {
  opacity: 0.5;
}

.formContainer .formGroup input:focus {
  outline: none;
  border-color: #A6BBCC;
  transition: 0.5s;
}

.formContainer .formGroup textarea:focus {
  outline: none;
  border-color: #A6BBCC;
  transition: 0.5s;
}

.formContainer .formSubmitButton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: 'Inter';
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  align-self: center;
}

.formContainer .formSubmitButton:hover {
  background-color: #A6BBCC;
  color: #FFFFFF;
  transition: 0.5s;
  box-shadow: 0.3rem 0.3rem rgba(0,0,0,0.1);
}

.contatoContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 9rem;
}

.contatoTexto {
  width: 40%;
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
  word-spacing: 2px;
  line-height: 2.5rem;
}

.stateMessage {
  text-align: center;
  color: #A6BBCC;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 1.5rem;
}